@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    font-weight: 300;
    color: white;
}

.root-wrapper {
    width: 30vw;
    height: auto;
    top: 35.2%;
    left: 83.5%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    overflow: hidden;
    background: transparent !important;
}

html,
body {
    background: transparent !important;
}

.backgroundColour {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(133,133,133,0) 10%, rgba(133, 133, 133, 0) 30%, rgb(43, 44, 54) 100%);
    content: "";
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(79,74,78);
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(254,252,255);
    border-radius: 2px;
}

.main-wrapper {
    margin: auto;
    margin-top: 59.2%;
    width: 44.5%;
    height: 80vh;
    position: relative;
    overflow: auto;
    border-radius: 3px;
    padding: 1.5rem;
    display: none;
}

.heading {
    display: flex;
    justify-content: center;
    overflow: wrap;
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(56,236,168);
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 0.45rem;
}

.heading h1 {
    font-size: 18px;
    position: relative;
    font-weight: 500;
}

.form {
    width: 100%;
    height: auto;
    min-height: 10%;
    max-height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

option {
    background: rgb(19,25,38);
    color: rgb(7,203,155);
}

option:hover {
    transition: all 0.3s;
    background: rgb(26, 33, 49);
    color: rgb(255, 255, 255);
}

.form label {
    margin-top: 24px;
}

.form-control[type="number"] {
    appearance: none;
    -webkit-appearance: none;
}
.form-control[type="text"],
.form-control[type="number"],
.form-control[type="password"] {
    border: none;
    font-size: 14px;
    border-style: solid;
    border-width: 0.15rem;
    color: white;
    margin: 5px 0px;
    border-color: rgba(110, 110, 119, 0.925);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.089) 0%, rgba(77, 79, 87, 0.177) 100%);
    height: 50px;
    text-align: center;
    width: 100%;
}

.form-control[type="text"]:focus,
.form-control[type="number"]:focus,
.form-control[type="password"]:focus {
    transition-property: box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: linear, ease-in;
    outline: none;
    background: radial-gradient(circle, rgba(38, 94, 86, 0.684) 0%, rgba(31, 79, 72, 0.256) 100%);
    border-style: solid;
    border-radius: 3px;
    border-width: 0.15rem;
    border-color: rgb(7,203,155);
}


.form-control[type="color"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: rgba(23, 23, 23, 90%);
    cursor: pointer;
}


.form-control[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.form-control[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 3px;
}

.form-control[type="color"]:focus {
    outline: none;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000; /* Adding focus shadow */
}

.form-input-group {
    border-color: rgba(110, 110, 119, 0.925);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.089) 0%, rgba(77, 79, 87, 0.177) 100%);
    border-style: solid;
    border-width: 0.15rem;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}


.input-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.input-group-chk {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

.input-group label {
    color: rgba(255, 255, 255, 0.65) !important;
}

.input-group label:checked {
    color: rgba(255, 255, 255, 1) !important;
}


.form-group-title {
    width: 100%;
    text-align: center;
}

.select-title {
    border-color: rgba(110, 110, 119, 0.925);
    background: radial-gradient(circle, rgba(136, 136, 136, 0.312) 0%, rgba(129, 126, 129, 0.734) 100%);
    border-style: solid;
    border-width: 0.09rem;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

.form-select {
    width: 100%;
    border-color: rgba(110, 110, 119, 0.925);
    color: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.089) 0%, rgba(77, 79, 87, 0.177) 100%);
    border-style: solid;
    border-width: 0.15rem;
    border-radius: 3px;
    outline: none;
    margin-top: 2.5px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    height: 50px;
}



.form-select:active,
.form-select:focus {
    width: 100%;
    background: radial-gradient(circle, rgba(38, 94, 86, 0.684) 0%, rgba(31, 79, 72, 0.256) 100%);
    border-color: rgb(7,203,155);
    border-style: solid;
    border-width: 0.15rem;
    margin-top: 2.5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}



.form-select:focus-visible {
    outline: unset;
}

.form-select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 90px solid transparent;
}
  

::placeholder {
    opacity: 65%;
    color: white;
}

.background {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: -99;
    display: none;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 16px;
    background: radial-gradient(circle, rgba(38, 94, 86, 0.684) 0%, rgba(31, 79, 72, 0.256) 100%);
    border-style: solid;
    border-radius: 3px;
    border-width: 0.15rem;
    border-color: rgb(77, 164, 151);
    font-weight: 500;
    border-radius: 5px;
    transition-property: color, background-color;
    transition-duration: 0.1s, 0.3s;
    transition-timing-function: linear, ease-in;
    margin-top: 5px;
}

.btn:hover {
    transition: all 0.3s;
    border-style: solid;
    border-radius: 3px;
    border-width: 0.15rem;
    border-color: rgb(11, 218, 166);
    background: radial-gradient(circle, rgba(38, 94, 86, 0.684) 0%, rgba(31, 79, 72, 0.256) 100%);
    outline: none;
    color: rgb(254,252,255);
}

.label {
    background: radial-gradient(circle, rgba(38, 94, 86, 0.684) 0%, rgba(31, 79, 72, 0.256) 100%);
    border-style: solid;
    border-radius: 3px;
    border-width: 0.15rem;
    border-color: rgb(77, 164, 151);
    padding: 10px;
    font-size: 14px;
    margin: 5px 0px;
}